#contact {
  background-color: antiquewhite;
}

.contact__container {
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.contact__form {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}

.contact__form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__form label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.contact__form input,
.contact__form textarea {
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.contact__form input:focus,
.contact__form textarea:focus {
  outline: none;
  border-color: var(--color-primary);
}

.contact__form textarea {
  height: 150px;
}

.contact__form button[type="submit"] {
  background-color: var(--color-primary);
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.contact__form button[type="submit"]:hover {
  background-color: var(--color-primary);
}

.contact__container a {
  width: 5rem;
  aspect-ratio: 1/1;
  color: white;
  background: var(--color-primary);
  display: grid;
  place-items: center;
  font-size: 2rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-1);
}

.contact__container a:hover {
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  transform: translateY(-0.5rem);
}

.input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border-radius: 4px;
  outline-color: rgba(0, 0, 0, 0.5);
  background-color: rgb(255, 255, 255);
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .contact__container {
    gap: 1.5rem;
  }
}
